<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<header class="mdl-layout__header moava-header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title"><img width="100" height="21" src="../../../assets/logo.png"></span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="waterfall-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample" id="waterfall-exp">
        </div>
      </div>
    </div>
    <div [hidden]="true" class="mav-loading">
      <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate mav-loading-spiner"></div>
    </div>
  </header>
  <div class="mdl-layout__drawer moava-drawer">
    <span class="mdl-layout-title">MENU</span>
    <nav class="mdl-navigation">
      <!-- <template *ngIf="!loginUser || !loginUser.uid">
        <span class="mdl-navigation__link">로그인</span>
        <a href="#" (click)="onClickLogin($event, 'Facebook')" class="mdl-navigation__link">페이스북으로 로그인</a>
        <a href="#" (click)="onClickLogin($event, 'Github')" class="mdl-navigation__link">github으로 로그인</a>
      </template>
      <template *ngIf="loginUser && loginUser.uid">
        <a href="#" class="mdl-navigation__link">북마크</a>
        <a href="#" (click)="onClickLogout($event)" class="mdl-navigation__link">로그아웃</a>
      </template> -->
    </nav>
  </div>
	<main class="mdl-layout__content">
		<div class="page-content">
			<router-outlet></router-outlet>
    </div>
  </main>
  <div class="player-content">
    <router-outlet name="player"></router-outlet>
  </div>
</div>
